<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <a class="navbar-brand" routerLink="">Bookstore</a>
    <ul class="navbar-nav">
      <!-- Ovo mozda i ne treba -->
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li> -->
      <li class="nav-item" *ngIf="dataService.loggedIn">
        <a class="nav-link" routerLink="account">Account</a>
      </li>
      <li class="nav-item" *ngIf="dataService.user != null && dataService.user.type === 'ADMINISTRATOR'">
        <a class="nav-link" routerLink="users">Users</a>
      </li>
      <li class="nav-item" *ngIf="dataService.user != null && dataService.user.type === 'ADMINISTRATOR'">
        <a class="nav-link" routerLink="categories">Categories</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="!dataService.loggedIn">
          <a class="nav-link" routerLink="login">Login</a>
      </li>
      <li class="nav-item " *ngIf="dataService.loggedIn">
        <a class="nav-link" routerLink="logout" (click)="logout()">Logout</a>
      </li>
    </ul>
</nav>
