<div class="container color-dark">
  <p>All users :</p>
  <div *ngIf="!addUser && !userChanging" class="row">
    <input type="submit" value="Add new user" (click)="add()">
    <div *ngFor="let user of users">
      <div class="col">
        <p> {{user.username}} </p>
      </div>
      <div class="col">
        <p> {{user.firstName}} </p>
      </div>
      <div class="col">
        <p> {{user.lastName}} </p>
      </div>
      <div class="col">
        <p> {{user.type}} </p>
      </div>
      <div class="col">
        <p *ngIf="user.category != null"> {{user.category.name}} </p>
        <p *ngIf="user.category == null"> All </p>
      </div>
      <div class="col">
        <input type="submit" value="Change" (click)="change(user)">
      </div>
      <div class="col">
        <input type="submit" value="Delete" (click)="delete(user.id)">
      </div>
    </div>
  </div>


  <div *ngIf="addUser" class="row">
    <div class="col">
      <p> Username </p>
      <input type="text" class="txt" name="username" placeholder="Username" [(ngModel)]="username">
    </div>
    <div class="col">
      <p> Password </p>
      <input type="text" class="txt" name="password" placeholder="Password" [(ngModel)]="password">
    </div>
    <div class="col">
      <p> First name </p>
      <input type="text" class="txt" name="firstName" placeholder="First name" [(ngModel)]="firstName">
    </div>
    <div class="col">
      <p> Last name </p>
      <input type="text" class="txt" name="lastName" placeholder="Last name" [(ngModel)]="lastName">
    </div>
    <div class="col">
      <p> Type </p>
      <select class="form-control" [(ngModel)]="type">
        <option [ngValue]="0">ADMINISTRATOR</option>
        <option [ngValue]="1">SUBSCRIBER</option>
      </select>
    </div>
    <div class="col">
      <p> Category (empty means All) </p>
      <select class="form-control" [(ngModel)]="categoryId">
        <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
      </select>
    </div>
    <div class="col">
      <input type="submit" value="Add" (click)="createUser()">
    </div>
    <div class="col">
      <input type="submit" value="Cancel" (click)="cancel()">
    </div>
  </div>

  <div *ngIf="userChanging" class="row">
    <div class="col">
      <p> Username </p>
      <input type="text" class="txt" name="username" placeholder="Username" [(ngModel)]="username">
    </div>
    <div class="col">
      <p> Password </p>
      <input type="text" class="txt" name="password" placeholder="Password" [(ngModel)]="password">
    </div>
    <div class="col">
      <p> First name </p>
      <input type="text" class="txt" name="firstName" placeholder="First name" [(ngModel)]="firstName">
    </div>
    <div class="col">
      <p> Last name </p>
      <input type="text" class="txt" name="lastName" placeholder="Last name" [(ngModel)]="lastName">
    </div>
    <div class="col">
      <p> Type </p>
      <select class="form-control" [(ngModel)]="type">
        <option [ngValue]="0">ADMINISTRATOR</option>
        <option [ngValue]="1">SUBSCRIBER</option>
      </select>
    </div>
    <div class="col">
      <p> Category (empty means All) </p>
      <select class="form-control" [(ngModel)]="categoryId">
        <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
      </select>
    </div>
    <div class="col">
      <input type="submit" value="Change" (click)="changeUser()">
    </div>
    <div class="col">
      <input type="submit" value="Cancel" (click)="cancel()">
    </div>
  </div>
</div>
