<div class="row justify-content-center align-items-center">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header text-center">
                <h3>Welcome to Bookstore!</h3>
                <p>Log in with your credentials</p>
            </div>
            <div class="card-body">
                <form class="form" role="form" autocomplete="off" >
                    <div class="form-group">
                        <label class="col-form-label form-control-label">Username:</label>
                        <input type="text" class="form-control" name="username" [(ngModel)]="username">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label form-control-label">Password:</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="password">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label form-control-label"></label>
                        <input type="button" class="btn btn-secondary pull-right" value="Login" (click)="login()">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

