<div class="container color-dark">
  <p>All users :</p>
  <div *ngIf="!addCategory && !updateCategory" class="row">
    <input type="submit" value="Add new category" (click)="add()">
    <div *ngFor="let category of categories">
      <div class="col">
        <p> {{category.name}} </p>
      </div>
      <div class="col">
        <input type="submit" value="Edit" (click)="update(category)">
      </div>
      <div class="col">
        <input type="submit" value="Delete" (click)="delete(category.id)">
      </div>
    </div>
  </div>


  <div *ngIf="addCategory" class="row">
    <div class="col">
      <p> Name </p>
      <input type="text" class="txt" name="username" placeholder="Category name" [(ngModel)]="name">
    </div>
    <div class="col">
      <input type="submit" value="Add" (click)="createCategory()">
    </div>
    <div class="col">
      <input type="submit" value="Cancel" (click)="cancel()">
    </div>
  </div>

  <div *ngIf="updateCategory" class="row">
    <div class="col">
      <p> Name </p>
      <input type="text" class="txt" name="username" placeholder="Category name" [(ngModel)]="updateName">
    </div>
    <div class="col">
      <input type="submit" value="Update" (click)="changeCategory()">
    </div>
    <div class="col">
      <input type="submit" value="Cancel" (click)="cancel()">
    </div>
  </div>
</div>
