<div *ngIf="!addBook && !bookUpdate">
  <p *ngIf="error">Error loading books</p>
  <table class="table table-striped">
    <tbody>
    <tr>
      <td>
        <input placeholder="Title" type="text" [(ngModel)]="queryDTO.title">
      </td>
      <td>
        <input placeholder="Author" type="text" [(ngModel)]="queryDTO.author">
      </td>
      <td>
        <input placeholder="Publication Year" type="text" [(ngModel)]="queryDTO.publicationYear">
      </td>
      <td>
        <select class="form-control" [(ngModel)]="queryDTO.categoryId">
          <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
        </select>
      </td>
      <td>
        <select class="form-control" [(ngModel)]="queryDTO.languageId">
          <option [ngValue]="1">Serbian</option>
          <option [ngValue]="2">English</option>
          <option [ngValue]="3">German</option>
        </select>
      </td>
      <td>
        <input placeholder="Keywords" type="text" [(ngModel)]="queryDTO.keywords">
      </td>
      <td>
        <input placeholder="Content" type="text" [(ngModel)]="queryDTO.content">
      </td>
      <td>
        <input value="Search" type="submit" (click)="search()">
      </td>
    </tr>
    </tbody>
    <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Publication Year</th>
      <th scope="col">Category</th>
      <th scope="col">Language</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody *ngFor="let book of books">
    <tr>
      <td>{{book.title}}</td>
      <td>{{book.author}}</td>
      <td>{{book.publicationYear}}</td>
      <td>{{book.category.name}}</td>
      <td>{{book.language.name}}</td>
      <td>{{book.keywords}}</td>
      <td></td>
      <td *ngIf="book.content !== null">{{book.content}}</td>
      <td>
        <input
          *ngIf="dataService.loggedIn && dataService.user.type === 'ADMINISTRATOR'"
          type="submit" value="Edit" (click)="edit(book)">
      </td>
      <td>
        <input
          *ngIf="dataService.loggedIn && (book.category.name == dataService.user.category || dataService.user.category == null)"
          type="submit" value="Download" (click)="download(book.id)">
      </td>
      <td>
        <input *ngIf="dataService.loggedIn && dataService.user.type === 'ADMINISTRATOR'" type="submit" value="Delete"
               (click)="delete(book.id)">
      </td>
    </tr>
    </tbody>
  </table>
  <div>
    <label class="col-form-label form-control-label"></label>
    <input class="btn btn-secondary pull-right"
           *ngIf="dataService.user != null && dataService.user.type === 'ADMINISTRATOR'"
           type="submit" value="Add new book" (click)="add()">
  </div>


</div>

<div *ngIf="addBook">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header text-center">
          <h3>Add a book</h3>
        </div>
        <div class="card-body">
          <form class="form" role="form" autocomplete="off">
            <div class="form-group custom-file">
              <input type="file" class="custom-file-input" (change)="setFiles($event)">
              <label class="custom-file-label">{{fileLabel}}</label>
            </div>
            <div class="form-group">
              <select id="inputState" class="form-control" [(ngModel)]="languageId"
                      [ngModelOptions]="{standalone: true}">
                <option [ngValue]="1">Serbian</option>
                <option [ngValue]="2">English</option>
                <option [ngValue]="3">German</option>
              </select>
            </div>
            <div class="form-group">
              <select id="inputState1" class="form-control" [(ngModel)]="categoryId"
                      [ngModelOptions]="{standalone: true}">
                <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
              </select>
            </div>
            <div class="col">
              <input type="submit" value="Upload book" (click)="uploadBook()">
            </div>
            <div class="col">
              <input type="submit" value="Cancel" (click)="cancel()">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="bookUpdate" class="row">
  <div class="col">
    <p> Title </p>
    <input type="text" class="txt" name="title" placeholder="Title" [(ngModel)]="updateBookDTO.title">
  </div>
  <div class="col">
    <p> Author </p>
    <input type="text" class="txt" name="author" placeholder="Author" [(ngModel)]="updateBookDTO.author">
  </div>
  <div class="col">
    <p> Keywords </p>
    <input type="text" class="txt" name="keywords" placeholder="Keywords" [(ngModel)]="updateBookDTO.keywords">
  </div>
  <div class="col">
    <p> Publication year </p>
    <input type="number" class="txt" name="publicationYear" placeholder="PublicationYear"
           [(ngModel)]="updateBookDTO.publicationYear">
  </div>
  <div class="col">
    <p> Mime </p>
    <input type="text" class="txt" name="mime" placeholder="MIME" [(ngModel)]="updateBookDTO.mime">
  </div>
  <div class="col">
    <p> Language </p>
    <select class="form-control" [(ngModel)]="updateBookDTO.languageId">
      <option [ngValue]="1">Serbian</option>
      <option [ngValue]="2">English</option>
      <option [ngValue]="3">German</option>
    </select>
  </div>
  <div class="col">
    <p> Category </p>
    <select class="form-control" [(ngModel)]="updateBookDTO.categoryId">
      <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
    </select>
  </div>
  <div class="col">
    <input type="submit" value="Upload book" (click)="updateBook()">
  </div>
  <div class="col">
    <input *ngIf="dataService.loggedIn && dataService.user.type === 'ADMINISTRATOR'" type="submit" value="Delete"
           (click)="delete(updateBookDTO.id)">
  </div>
  <div class="col">
    <input type="submit" value="Cancel" (click)="cancel()">
  </div>
</div>
