<div *ngIf="!isUserUpdated && !isPasswordUpdated">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{user.username}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>
          <input type="submit" value="Update info" (click)="updateUser()" />
        </td>
        <td>
          <input type="submit" value="Change password" (click)="updatePassword()" />
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="isUserUpdated">
  <div *ngIf="passwordsNotMatching">
    <p> {{changePasswordError}} </p>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>
          <input type="text" class="txt" name="username" placeholder="Old password" [(ngModel)]="username">
        </td>
        <td>
          <input type="text" class="txt" name="username" placeholder="Old password" [(ngModel)]="firstName">
        </td>
        <td>
          <input type="text" class="txt" name="username" placeholder="Old password" [(ngModel)]="lastName">
        </td>
        <td>
          <input type="submit" value="Update" (click)="changeUser()" />
        </td>
        <td>
          <input type="submit" value="Cancel" (click)="cancel()" />
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="isPasswordUpdated">
  <div *ngIf="passwordsNotMatching">
    <p> {{changePasswordError}} </p>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Old Password</th>
        <th scope="col">New Password</th>
        <th scope="col">New Password</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>
          <input type="password" class="txt" name="username" placeholder="Old password" [(ngModel)]="oldPassword">
        </td>
        <td>
          <input type="password" class="txt" name="username" placeholder="New password" [(ngModel)]="newPassword">
        </td>
        <td>
          <input type="password" class="txt" name="username" placeholder="Retype password" [(ngModel)]="retypedPassword">
        </td>
        <td>
          <input type="submit" value="Update" (click)="changePassword()" />
        </td>
        <td>
          <input type="submit" value="Cancel" (click)="cancel()" />
        </td>
      </tr>
    </tbody>
  </table>
</div>
